<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.inetgoes.fangdd" >

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <!-- 必选 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- 【必选】用以设置前台是否显示通知 -->
    <uses-permission android:name="android.permission.GET_TASKS" />

    <!-- 可选 -->
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_ADDED" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_CHANGED" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_INSTALL" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_REPLACED" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:name=".FangApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MyAppTheme" >

        <!--<meta-data-->
            <!--android:name="UMENG_APPKEY"-->
            <!--android:value="5640260fe0f55a76ff00175c" />-->
        <!--<meta-data-->
            <!--android:name="UMENG_MESSAGE_SECRET"-->
            <!--android:value="71eac6245e6171506ad89e10d5b2977f" />-->

        <!--&lt;!&ndash; 监听通知点击或者忽略处理的广播 &ndash;&gt;-->
        <!--<receiver-->
            <!--android:name="com.umeng.message.NotificationProxyBroadcastReceiver"-->
            <!--android:exported="false" />-->

        <!--&lt;!&ndash; 监听开机运行、网络连接变化、卸载的广播 &ndash;&gt;-->
        <!--<receiver-->
            <!--android:name="com.umeng.message.SystemReceiver"-->
            <!--android:process=":push" >-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.BOOT_COMPLETED" />-->
            <!--</intent-filter>-->
            <!--<intent-filter>-->
                <!--<action android:name="android.net.conn.CONNECTIVITY_CHANGE" />-->
            <!--</intent-filter>-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.PACKAGE_REMOVED" />-->

                <!--<data android:scheme="package" />-->
            <!--</intent-filter>-->
        <!--</receiver>-->

        <!--&lt;!&ndash; 监听消息到达的广播 &ndash;&gt;-->
        <!--<receiver-->
            <!--android:name="com.umeng.message.MessageReceiver"-->
            <!--android:exported="false"-->
            <!--android:process=":push" >-->
            <!--<intent-filter>-->
                <!--<action android:name="org.agoo.android.intent.action.RECEIVE" />-->
            <!--</intent-filter>-->
        <!--</receiver>-->

        <!--&lt;!&ndash; 监听宿主选举的广播 &ndash;&gt;-->
        <!--<receiver-->
            <!--android:name="com.umeng.message.ElectionReceiver"-->
            <!--android:process=":push" >-->
            <!--<intent-filter>-->
                <!--<action android:name="org.agoo.android.intent.action.ELECTION_RESULT_V4" />-->

                <!--<category android:name="umeng" />-->
            <!--</intent-filter>-->
        <!--</receiver>-->

        <!--&lt;!&ndash; 监听注册的广播 &ndash;&gt;-->
        <!--&lt;!&ndash; 【应用包名】字符串需要替换成本应用的应用包名 &ndash;&gt;-->
        <!--<receiver-->
            <!--android:name="com.umeng.message.RegistrationReceiver"-->
            <!--android:exported="false" >-->
            <!--<intent-filter>-->
                <!--<action android:name="com.inetgoes.fangdd.intent.action.COMMAND" />-->
            <!--</intent-filter>-->
        <!--</receiver>-->
        <!--<receiver android:name="com.umeng.message.UmengMessageBootReceiver" >-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.BOOT_COMPLETED" />-->
            <!--</intent-filter>-->
        <!--</receiver>-->

        <!--&lt;!&ndash; Umeng的长连服务，用来建立推送的长连接的 &ndash;&gt;-->
        <!--&lt;!&ndash; 【应用包名】字符串需要替换成本应用的应用包名 &ndash;&gt;-->
        <!--<service-->
            <!--android:name="com.umeng.message.UmengService"-->
            <!--android:exported="true"-->
            <!--android:label="PushService"-->
            <!--android:process=":push" >-->
            <!--<intent-filter>-->
                <!--<action android:name="com.inetgoes.fangdd.intent.action.START" />-->
            <!--</intent-filter>-->
            <!--<intent-filter>-->
                <!--<action android:name="com.inetgoes.fangdd.intent.action.COCKROACH" />-->
            <!--</intent-filter>-->
            <!--<intent-filter>-->
                <!--<action android:name="org.agoo.android.intent.action.PING_V4" />-->

                <!--<category android:name="umeng" />-->
            <!--</intent-filter>-->
        <!--</service>-->

        <!--&lt;!&ndash; Umeng的消息接收服务 &ndash;&gt;-->
        <!--<service-->
            <!--android:name="com.umeng.message.UmengIntentService"-->
            <!--android:process=":push" />-->

        <!--&lt;!&ndash; Umeng的消息路由服务 &ndash;&gt;-->
        <!--<service-->
            <!--android:name="com.umeng.message.UmengMessageIntentReceiverService"-->
            <!--android:exported="true"-->
            <!--android:process=":push" >-->
            <!--<intent-filter>-->
                <!--<action android:name="org.android.agoo.client.MessageReceiverService" />-->
            <!--</intent-filter>-->
            <!--<intent-filter>-->
                <!--<action android:name="org.android.agoo.client.ElectionReceiverService" />-->
            <!--</intent-filter>-->
        <!--</service>-->

        <!--&lt;!&ndash; v2.4.1添加的Service，Umeng的消息接收后的处理服务 &ndash;&gt;-->
        <!--<service-->
            <!--android:name="com.umeng.message.UmengMessageCallbackHandlerService"-->
            <!--android:exported="false" >-->
            <!--<intent-filter>-->
                <!--<action android:name="com.umeng.messge.registercallback.action" />-->
            <!--</intent-filter>-->
            <!--<intent-filter>-->
                <!--<action android:name="com.umeng.message.unregistercallback.action" />-->
            <!--</intent-filter>-->
            <!--<intent-filter>-->
                <!--<action android:name="com.umeng.message.message.handler.action" />-->
            <!--</intent-filter>-->
            <!--<intent-filter>-->
                <!--<action android:name="com.umeng.message.autoupdate.handler.action" />-->
            <!--</intent-filter>-->
        <!--</service>-->

        <!--&lt;!&ndash; V1.3.0添加的service，负责下载通知的资源 &ndash;&gt;-->
        <!--<service android:name="com.umeng.message.UmengDownloadResourceService" />-->

        <!--&lt;!&ndash; V2.5.0添加的Service，用于本地通知 &ndash;&gt;-->
        <!--&lt;!&ndash; 如果不使用本地通知，可以注释掉本地通知服务的配置 &ndash;&gt;-->
        <!--<service-->
            <!--android:name="com.umeng.message.local.UmengLocalNotificationService"-->
            <!--android:exported="false" />-->

        <activity
            android:name=".activity.WelcomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.GuideActivity"
            android:label="@string/title_activity_guide"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RegisterActivity"
            android:label="@string/title_activity_register"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MateBrokerActivity"
            android:label="@string/title_activity_mate_broker"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.BrokerMainActivity"
            android:label="@string/title_activity_broker_main"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.BuildingMainActivity"
            android:label="@string/title_activity_building_main"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.BuildingDanActivity"
            android:label="@string/title_activity_building_dan"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MyMessageActivity"
            android:label="@string/title_activity_my_message_main"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MyYuyueActivity"
            android:label="@string/title_activity_my_yuyue"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MessageingActivity"
            android:label="@string/title_activity_messageing"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.SeeHouseListActivity"
            android:label="@string/title_activity_see_house_list"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.BuildingListActivity"
            android:label="@string/title_activity_building_list"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.BrokerEvaluationActivity"
            android:label="@string/title_activity_broker_evaluation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SetMessageActivity"
            android:label="@string/title_activity_set_message"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SetUserInfoActivity"
            android:label="@string/title_activity_set_user_info"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SetAppActivity"
            android:label="@string/title_activity_set_app"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SetLawActivity"
            android:label="@string/title_activity_set_law"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SetLaw2Activity"
            android:label="@string/title_activity_set_law"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SetUserInfo2Activity"
            android:label="@string/title_activity_set_user_info2"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MatchingBuidingListActivity"
            android:label="@string/title_activity_matching_buiding_list"
            android:launchMode="singleTask" />

        <service android:name=".service.PushService" >
            <intent-filter>
                <action android:name="com.inetgoes.fangdd.server.PushService" />
            </intent-filter>
        </service>

        <activity
            android:name=".activity.SetContactWeActivity"
            android:label="@string/title_activity_set_contact_we" />
        <activity
            android:name=".activity.NotifyActivity"
            android:label="@string/title_activity_notify" />
        <activity
            android:name=".activity.RegistMainActivity"
            android:label="@string/title_activity_regist"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.RegistTwoActivity"
            android:label="@string/title_activity_regist_two"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.RegistSuccessActivity"
            android:label="@string/title_activity_registsuccess"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".opencity.CtiyActivity"
            android:label="城市列表"
            android:screenOrientation="portrait" />
        <activity
            android:name=".addressbook.QuickLocationMainActivity"
            android:label="联系人列表"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.BrokerComplainActivity"
            android:label="@string/title_activity_broker_complain"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.AboutKfqActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_about_kfq" >
        </activity>
    </application>

</manifest>
